In [2]:
import pandas as pd

# Data Frames

In [3]:
df = pd.DataFrame({
    "Yes" : [50,21],
    "No" : [131, 2]
})

In [4]:
df

   Yes   No
0   50  131
1   21    2

In [7]:
df1 = pd.DataFrame({
    "Bob":["I liked it","It was good"],
    "Alice":["It was bad","Disaster"]
},index=["Fast and Furious","Pushpa 2"])

In [10]:
df1

                          Bob       Alice
Fast and Furious   I liked it  It was bad
Pushpa 2          It was good    Disaster

# Series

In [11]:
my_series = pd.Series([1, 2, 3, 4, 5, 6])

In [12]:
my_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
my_series1 = pd.Series([1500,1700,1400],index=["2015 Sales","2016 Sales","2017 Sales"])

In [16]:
my_series1
type(my_series1)

pandas.core.series.Series